<link rel="stylesheet" href="widgets/asterbird/css/dialog-polyfill.css">
<link rel="stylesheet" href="widgets/asterbird/css/style.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="widgets/asterbird/js/dialog-polyfill.js"></script>
<script type="text/javascript" src="widgets/asterbird/js/SIPml-api.js"></script>
<script type="text/javascript" src="widgets/asterbird/js/SIPCommunicationAccount.js"></script>
<script type="text/javascript" src="widgets/asterbird/js/SIPCommunication.js"></script>
<script type="text/javascript" src="widgets/asterbird/js/asterbird.js"></script>

<script id="tplAsterbirdWidget" type="text/ejs" class="vis-tpl" data-vis-prev='' data-vis-set="asterbird" data-vis-type="widget" data-vis-name="Asterbird" data-vis-attrs="adapterInstance/id;">
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:200px; height:200px;" id="<%= this.data.attr('wid') %>" <%= function(element) {  vis.binds.asterbird.initWidgetElement(element); } %>>
        <div class="widget-container vis-widget-body <%== this.data.attr('class') %>">
            <h1 class="header">Türklingel</h1>
            <div class="video-container">
                <audio id="audioRemote" <%= function(element) {  vis.binds.asterbird.initSIP(element); } %>/>
                <img id="videoElement" class="video-content"/>
            </div>
            <div class="button-container">
                <div class="button-wrapper">
                    <button onclick="vis.binds.asterbird.acceptCall()" id="acceptCallBtn">
						          <i class="material-icons">call</i>
						          <span>Antworten</span>
				          	</button>
                </div>
                <div class="button-wrapper">
                    <button onclick="vis.binds.asterbird.endCall()" id="endCallBtn">
						          <i class="material-icons">call_end</i>
						          <span>Beenden</span>
				          	</button>
                </div>
                <div class="button-wrapper">
                    <button onclick="vis.binds.asterbird.volumeDown()">
						          <i class="material-icons">volume_down</i>
                    </button>
                    <input id="volume-slider" type="range" min="0.1" max="1" step="0.1" value="0.5" oninput="vis.binds.asterbird.onVolumeChanged()">
                    <button onclick="vis.binds.asterbird.volumeUp()">
						          <i class="material-icons">volume_up</i>
                    </button>
                </div>
                <div class="button-wrapper">
                    <button onclick="vis.binds.asterbird.openDoor()">
						          <i class="material-icons">lock_open</i>
						          <span>Tür öffnen</span>
					          </button>
                </div>
            </div>
		    </div>
	</div>
	<dialog id="accountDataDialog">
      <form method="dialog">
        <label for="accountDataDialogPrivateIdentity">Private Indentity:</label>
        <input id="accountDataDialogPrivateIdentity"/>
        <br/>
        <label for="accountDataDialogPublicIdentity">Public Identity:</label>
        <input id="accountDataDialogPublicIdentity"/>
        <br/>
        <label for="accountDataDialogPassword">Password:</label>
        <input id="accountDataDialogPassword" type="password"/>
        <br/>
        <label for="accountDataDialogDisplayName">Display Name:</label>
        <input id="accountDataDialogDisplayName"/>
        <br/>
        <br/>
        <menu>
          <button id="cancel">Cancel</button>
          <button id="confirm">Confirm</button>
        </menu>
      </form>
    </dialog>

	<% vis.binds.asterbird.init(this.data.adapterInstance);  %>
</script>
