<link rel="stylesheet" href="widgets/doorbird/css/style.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="widgets/doorbird/js/SIPml-api.js"></script>
<script type="text/javascript" src="widgets/doorbird/js/SIPCommunication.js"></script>
<script type="text/javascript" src="widgets/doorbird/js/doorbird.js"></script>

<script id="tpldoorbirdWidget" type="text/ejs" class="vis-tpl" data-vis-prev='' data-vis-set="doorbird" data-vis-type="widget" data-vis-name="Doorbird" data-vis-attrs="adapterInstance/id;">	
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:200px; height:200px;" id="<%= this.data.attr('wid') %>">
        <div class="widget-container vis-widget-body <%== this.data.attr('class') %>">
            <h1 class="header">Türklingel</h1>
            <div class="video-container">
                <img id="video_remote" class="video-content" style="display: none;"/>
                <audio id="audio_remote" <%= function(element) {  vis.binds.doorbird.initSIP(element); } %>/>
                <img id="preview-img" class="video-content" <%= function(element) {  vis.binds.doorbird.initPreview(element); } %>/>
            </div>
            <div class="button-container">
                <div class="button-wrapper">
                    <button onclick="vis.binds.doorbird.call()">
						<i class="material-icons">call</i>
						<span>Antwortenxxxxxx</span>
					</button>
                </div>
                <div class="button-wrapper">
                    <button onclick="vis.binds.doorbird.openDoor()">
						<i class="material-icons">lock_open</i>
						<span>Tür öffnen</span>
					</button>
                </div>
            </div>
		</div>		
	</div>
	<% vis.binds.doorbird.init(this.data.adapterInstance);  %>
</script>